* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(to right, rgb(0, 221, 255), rgb(255, 192, 203)); */
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 70%;
    height: 30%;

    & div {
        display: flex;
        justify-content: center;
        gap: 20px;

        & button {
            border: none;
            padding: 10px 30px;
            border-radius: 30px;
            background-color: black;
            color: white;
            cursor: pointer;
        }
    }

    & h2 {
        font-size: 15px;
        font-family: cursive;
    }

    & p {
        width: 50%;
        padding: 10px 20px;
        border-left: 2px solid white;
        background-color: rgba(255, 255, 255, 0.103);
        border-radius: 10px;
    }
}